<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh8888.dao.OrderItemDao">

    <insert id="createOrderItem">
        INSERT INTO order_detail (order_id, menu_id, menu_no, menu_name, menu_image, price, quantity, total_price, create_time)
        VALUES (#{orderId}, #{menuId}, #{menuNo}, #{menuName}, #{menuImage}, #{price}, #{quantity}, #{totalPrice}, NOW())
    </insert>

    <select id="findOrderItemsByOrderId" resultType="com.zh8888.model.OrderItem">
        SELECT id,
               order_id  AS orderId,
               menu_id   AS menuId,
               menu_no   AS menuNo,
               menu_name AS menuName,
               menu_image AS menuImage,
               price,
               quantity,
               total_price AS totalPrice
        FROM order_detail
        WHERE order_id = #{orderId}
    </select>
    
</mapper> 